<ion-header no-border>
    <ion-toolbar>
        <ion-title>
            Favorites
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <swiper-container *ngIf="dataLocalSrv.news?.length === 0" #swiperRef init="false">
        <swiper-slide>
            <ion-label class="flex-center">No Favorites</ion-label>
        </swiper-slide>
    </swiper-container>
    <app-news *ngIf="dataLocalSrv.news?.length > 0" [news]="dataLocalSrv.news" [onFavorites]="true"></app-news>
</ion-content>