<ion-header no-border>
    <ion-toolbar>
        <ion-title>
            Favorites
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ng-container *ngIf="dataLocalSrv.news?.length === 0">
        <swiper-container> 
            <swiper-slide>
                <ion-label>No Favorites</ion-label>
            </swiper-slide>
        </swiper-container>
    </ng-container>
    <app-news
        *ngIf="dataLocalSrv.news?.length > 0"
        [news]="dataLocalSrv.news"
        [onFavorites]="true"
    ></app-news>
</ion-content>
