<ion-header no-border>
    <ion-toolbar>
        <ion-title>
            Headers
        </ion-title>
    </ion-toolbar>

    <ion-segment
        scrollable
        (ionChange)="changeCategory($event)"
        mode="md"
        color="primary"
    >
        <ion-segment-button
            mode="md"
            *ngFor="let category of categories"
            [value]="category"
        >
            <ion-label text-capitalize>{{ category }}</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>
<ion-content>
    <app-news [news]="news"></app-news>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
            loadingSpinner="crescent"
            loadingText="Loading more data..."
        >
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
